
**/__pycache__/
murrayserver/testing.py
murrayserver/www/drtSave.html
murrayserver/www/spriteSave.html
murrayserver/open.py
game1.txt
game2.txt
trialEg.txt
game1.txt
game1.txt
game1.txt
game1.txt
*.txt
